
#contact .col-md-6,
#contact .col-md-12 {
  padding-left: 0px;
}

#contact .form-control {
  border: 1px solid #f0f0f0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #777;
}

#contact input,
#contact select {
  height: 50px;
}

#contact input[type="submit"] {
  background: #222;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: #000;
}