
#side-menu {
  z-index: 3;
  overflow: hidden;
}

@media (max-width: 991px) {
  #side-menu.nav-active {
    transform: translateX(0);
  }
  #side-menu {
      transform: translate3d(-120%, 0, 0);
      transition: transform 0.3s ease-out;
      z-index: 8;
  }
}

#side-menu .nav-item {
  position: relative;
  color: #111;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 240%;
  border-bottom: 1px solid var(--bs-gray-300);
}

#side-menu .nav-item::before {
  content: "";
  position: absolute;
  bottom: -1px;
  background: var(--bs-dark);
  height: 1px;
  width: 0;
  transition: width 0.6s ease-out;
}

#side-menu .nav-item.active::before,
#side-menu .nav-item:hover::before {
  width: 100%;
}

#side-menu ul {
  list-style: none;
  padding: 0%;
}
/* toggle */

/* .navbar-toggler, */
/* .navbar-form {
  border-color: transparent !important;
}

.navbar-toggler {
  border: none;
  padding-top: 10px;
}

.navbar-toggler .icon-bar {
  background: #bdc3c7;
  border-color: transparent;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  background-color: transparent;
} */
